.menuButton {
  background-color: black;
  color: #DC143C;
  font-size : larger;
}

.menuButton:hover {
  background-color: gold;
  color: black;
}

.quickLinkHolderStyle {
  display: flex;
  background-color: black;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 2px;
  width: max-content;
}

.spacer {
  flex-grow: 1 1 auto;
}

.toolbarStyle {
  background-color: black;
  color: #DC143C;
  display: flex;
  font-size: larger;
  width: 100vw;
}



