.dividerStyle {
  height: 2rem;
  margin-right: 3px;
  color: gold;
}

.menuButton {
  background-color: black;
  color: #DC143C;
  font-size : larger;
}

.menuButton:hover {
  background-color: gold;
  color: black;
  font-size : larger;
}

.quickLink {
  justify-content: space-between;
  display: inline-flex;
  position: relative;
  background-color: inherit;
  color: #DC143C;
  font-size : larger;
  margin-left: 3px;
}

.quickLink:hover {
  color: gold;
}

.quickLinkHolderStyle {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  margin-bottom: .75em;
  width: 10vw;
}

.quickLinkName {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: x-small;
}

.spacer {
  flex-grow: 1 1 auto;
}

.toolbarStyle {
  background-color: black;
  color: #DC143C;
  display: flex;
  font-size: larger;
  width: 100vw;

}



